<template>
  <div class="about">
    <p>Contact: <a href="mailto:fakeacc18@yandex.ru">Sergey Medelyan</a></p>
    <p>
      <small
        >This is not a big-real-production site or anything, but it is still
        <i><b>secure</b></i> and does care about your data by not storing it
        anywhere (yet!) :)</small
      >
    </p>
  </div>
</template>
