<template>
  <div class="home">
    <p>
      Hi. Login / logout is everything you can do here yet. Have fun, though :)
    </p>
    <user-info></user-info>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import UserInfo from "@/components/UserInfo.vue";

@Options({
  components: {
    UserInfo
  }
})
export default class Home extends Vue {}
</script>
