<template>
  <div>Login with <a :href="vkLogin">VK</a></div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { VK_AUTH } from "@/util/aux";

@Options({})
export default class Login extends Vue {
  get vkLogin(): string {
    return window.env.apiUrl + VK_AUTH;
  }
}
</script>
