<template>
  <template v-if="user !== null">
    <p>
      Logged in as:
      <br />
      <img :src="user.photoUrl" />
      <br />
      <strong>{{ user.firstName }} {{ user.lastName }}</strong>
    </p>
    <p>Your friends:</p>
    <ul>
      <li v-for="f in friends" :key="f.id">
        <img :src="f.photoUrl" /> {{ f.firstName }} {{ f.lastName }}
        <a v-if="!f.isWatched" href="#" @click.prevent="watch(f.id)">watch</a>
        <span v-if="f.isWatched">
          <br/>
          Activity: 
          <div v-for="(a, index) in f.activity" :key="index" :class="a.online ? 'text-success' : 'text-secondary'">
            {{ a.prettyDuration + ' '}} 
          </div>
        </span>
      </li>
    </ul>
  </template>

  <template v-else>
    <p><strong>Not logged in yet</strong></p>
  </template>
</template>

<script lang="ts">
import UserModule from "@/store/module/user";
import { Options, Vue } from "vue-class-component";
import { getModule } from "vuex-module-decorators";
import { refreshCsrfToken } from "@/util/axios";
import UserDetailsDto from "@/model/UserDetailsDto";
import { User } from "@/util/app-resources";

const userModule = getModule(UserModule);

@Options({})
export default class UserInfo extends Vue {
  mounted() {
    refreshCsrfToken();
    userModule.loadCurrentUser();
  }

  get user(): UserDetailsDto | null {
    new Date
    return userModule.currentUser;
  }

  get friends(): UserDetailsDto[] {
    return userModule.friends;
  }

  watch(id: string) {
    User.watch(id);
  }
}
</script>
