<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |

    <template v-if="user === null">
      <router-link to="/login">Login</router-link>
    </template>
    <template v-else>
      <a href="" @click.prevent="logout">Logout</a>
    </template>
  </div>
  <router-view />
</template>

<script lang="ts">
import { Vue } from "vue-class-component";
import UserModule from "@/store/module/user";
import { getModule } from "vuex-module-decorators";
import UserDto from "@/model/UserDetailsDto";
import router from "./router";

const userModule = getModule(UserModule);

export default class App extends Vue {
  get user(): UserDto | null {
    return userModule.currentUser;
  }

  logout() {
    userModule.logout();
    router.push("login");
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
